
= semantic_form_for resource do |f|
  = f.semantic_errors

  = f.inputs do
    = f.input :file, :as => :file

    .row-fluid
      .span10= f.input :remarks, :input_html => {:rows => 4, :class => 'span10'}

  = f.buttons do
    = f.commit_button
